.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #03032d;
}

.App button {
  margin: 1%;
  border-radius: 4px;
}

.contentBlock {
  display: block;
  width: 60%;
  height: 30%;
  text-align: center;
  color: aliceblue;
}